{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './terms77/password_reset_form.css' %}" type="text/css">
    <title>Reset Confirmation</title>
</head>
<body>
        <img src="{% static 'terms77/img/logo.jpg' %}" alt="group 77 logo">
<section id="transparent-box">

        <h1>Password Reset Sent</h1>
        <p>We've emailed you instructions for setting your password, <br>
			if an account exists with the email you entered. <br>
			You should receive them shortly.If you don't receive an email, <br>
			please make sure you've entered the address you registered with, <br>
			and check your spam folder.</p>


</section>
</body>
</html> 