/* *{
    box-sizing: border-box;
} */

/* .container{
    display: flex;
    flex-direction: row;
} */

.btn-primary{
    
    background-color: #111F4D;
    
}

/* footer{
    color: white;
}
footer p{
    text-align: center;
}
footer ul{
    list-style-type: none;
}
footer a, footer li {
    text-decoration: none;
} */
/* .foot {
    display: flex;
    flex-direction: row;
} */
