body{
    background-image: url("/img/resetpasswordbg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    text-align: center;
    position: relative;
    font-family: inter;
    transition: 2secs;
}
image{
    position: relative;
    top: 4em;
}
p{
    font-weight: 550;
}
section#transparent-box{
    top: 5em;
    border: 1px solid grey;
    width: 45%;
    height: 20em;
    position: relative;
    left: 25em;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
label{
    position: relative;
    right: 27%;
}
input{
    width: 60%;
    height: 2.5em;
    border: 1px solid grey;
    border-radius: 6px;
    font-family: inter;
}
button#req-pass{
    background-color: #111f4d;
    width: 60%;
    height: 3em;
    border: 1px solid #111f4d;
    border-radius: 6px;
    color: white;
    font-family: poppins;
    font-weight: 550;
    transition: 1sec linear;
}
button#req-pass:hover{
    background-color: rgb(54, 54, 99);
}
a{
    text-decoration: none;
    color: black;
    transition: 1sec;
    padding-bottom: 2em;
}
a:hover{
    color: rgb(107, 95, 95);
    transition: 1sec;
}

@media only screen and (max-width: 600px) {
    body{
        background-color: white;
    }
    section#transparent-box{
        left: 3em;
        width: 85%;
    }
    input{
        width: 80%;
    }
    label{
        position: relative;
        right: 36%;
    }
    button#req-pass{
        width: 80%;
    }

}

@media only screen and (max-width: 450px) {
    body{
        background-color: white;
        background-image: none;
    }
    section#transparent-box{
        left: 0.5em;
        width: 95%;
        height: 22em;
    }
    input{
        width: 80%;
    }
    label{
        right: 35%;
    }
    button#req-pass{
        width: 80%;
    }
}
