

:root {
    --footer_color: #111f4d;
  }



  nav button, footer, .button1, .benefits, .section1 button {
    background-color: var(--footer_color);
  }

   .steps {
    border: 1px solid black;
   }




  .pic4 {
    width: 250px;
  }
 
section {
    margin-top: 5rem;
      /* margin-bottom: 5rem; */
    }

footer a {
  text-decoration: none;
}

.right, .left {
  width: 80%;
}

.picture {
  width: 100%
}

.section1 i {
  font-size: xx-large;
}

.stars {
  font-size: small;
  color: gold;
}
