*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
    
  .text{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px; 
    text-align: center;
  }
  
  .terms{
    margin-top: 50px;
    height: 51px;
    width: 369px;
    box-sizing: border-box;
    background:  #39A72F;
    justify-content: center;
    place-items: center;
    color: #ffffff;
    padding: 15px 70px;
    gap: 10px;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
  }
  .terms:hover{
    background:  #ffffff;
    border: 1px solid #39A72F;
    color: #39A72F;
    transition: 0.4s;
  }
  
  .bottom-container{
    margin-top: 400px;
    width: 90%;
    display: flex;
    height: 1px;
    border: 1px solid #111F4D;
  }
  
.wrapper {
    display: flex;
    width: 50%;
    height: 620px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    transition: transform 0.4s, top 0.4s;
    background: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    border-radius: 10px;
    font-family: poppin sans-serif;
    font-size: 20px;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

/*RECTOR'S CODE*/

.asid {
    height: auto;
    margin: 0;
}


.top2 .close2 {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 10px;
}


.wrapper .sidebar2 {
    position: fixed;
    text-align: center;
    width: 18%;
    height: 100%;
    background: #111F4D;
}

.at {
    position: relative;
    top: 80px;
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
}

.at:hover {
    color: #ffffff;
}

.as {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 90px;
}

.as:hover {
    color: #ffffff;
}

.an {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 100px;
}

.an:hover {
    color: #ffffff;
}

.ad {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 110px;
}

.ad:hover {
    color: #ffffff;
}

.wrapper .main-content .header2 {
    padding: 30px;
    color: #111F4D;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    left: 270px;
}

.for{
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    padding-left: 180px;
    margin: 30px;
    line-height: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    height: 42px;
    width: 70%;
    border-radius: 7px;
    border: thin solid #80808075;
    font-size: 15px;
    padding: 20px;
}

.fo{
    display: flex;
    flex-direction: row;
}

.foo{
    display: flex;
    flex-direction: row;
}

.continue {
    font-size: 18px;
    background-color: #111F4D;
    border-radius: 7px;
    text-decoration: none;
    padding: 7px 35px;
    margin: 2px 5px;
}

.back {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    border: 2px solid green;
    padding: 4px 37px;
    margin: 2px 5px;
}

.img {
    display: flex;
    padding-left: 290px;
    margin: 30px;
    line-height: 30px;
}

.ready {
    display: flex;
    padding-left: 280px;
    margin: 30px;
}

.button {
    display: flex;
    padding-left: 250px;
    gap: 110px;
}

#newBack {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    border: 2px solid green;
    padding: 5px 37px;
    margin: 2px 5px;
}

#preview {
    font-size: 20px;
    background-color: #111F4D;
    border-radius: 7px;
    text-decoration: none;
    padding: 5px 37px;
    margin: 2px 5px;
}

#star {
    color: saddlebrown;
}


.bars2, .close2 {
    display: none;
}


/*FMANUEL*/  
  
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 14rem auto;
}

aside{
    border-right: 1px solid black;
    height: 100vh;
    margin: 0;
}

.top {
    display: flex;
}

.top .logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top .close {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.top img {
    width: 50%;
    padding-top: 10px;
}

.sidebar {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sidebar ul li {
    margin-top: 10px;
    font-size: 20px;
}

.sidebar .logout {
    margin-top: 300px;
}

.sidebar .set{
  margin-top: 60px;
}

.temp, .set, .logout{
    background-color: #F6F8FA;
    border: 1px solid #111F4D;
    border-radius: 5px;
    display: grid;
    height: 40px;
    width: 12rem;
    place-items: center;
}

.temp {
    background-color: #111F4D;
    color: white;
}

.temp a {
    color: white;
}

.set a, .logout a {
    color: #111F4D;
}

.main {
    height: 100vh;
}

.main .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

.user i {
    font-size: 30px;
}

.user span {
    font-size: 18px;
    padding-left: 7px;
}

.user {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
}

.account {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: #111F4D 1px solid;
}

.footer a {
    color: #111F4D;
}

.bars, .close {
    display: none;
}

@media (max-width: 784px) {
    .container {
        display: block;
        
    }
    
    aside {
        display: none;
        position: fixed;
        z-index: 3;
        background-color: aliceblue;
        height: 100vh;
        margin-top: 0;
        
    }

    .sidebar .logout {
        margin-top: 40px;
    }

    .bars, .close {
        display: block;
    }

    .main .profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-top: 10px;
        
    }

    .bars {
       margin-left: 10px; 
    }

    .bars i {
        font-size: 30px;
    }

    

  .for{
      display: grid;
  }
  
  .fo{
      display: grid;
  }
  
  .foo{
      display: grid;
  }
  
  .asid {
      display: none;
      position: fixed;
      z-index: 3;
      height: auto;
      margin-top: 0;
      
  }

  .wrapper{
    background: #D3D3D3;
    height: 850px;
  }

  .wrapper .sidebar2 {
      width: 40%;
      height: 50%;
  }
  

  .ad{
      margin-top: 40px;
  }

  .bars2, .close2 {
      display: block;
  }

  .wrapper .main-content .header2{
      display: flex;
      position: relative;
      left: 20px;
  }

 
  .bars2 {
     margin-left: 10px; 
  }

  .bars2 i {
      font-size: 30px;
  }
  .wrapper .main-content .header2 {
      font-size: 22px;
  }
 
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
      height: 36px;
      width: 90%;
      padding: 10px;
  }
    
  form {
      padding-left: 30px;
      margin: 10px;
      line-height: 30px;
  }

  .wrapper {
      box-shadow: none;
  }
 
    
}



/*@media (max-width: 784px) {
    .footer {
        margin-top: 240px;
    }
}*/

@media (max-width: 400px) {
   
    
    .account .add {
        width: 90%;
    }

    .terms {
      width: 300px;
      font-size: 11px;
      text-align: center;
    }
 .container {
        display: block;
        
    }

    .for{
        display: grid;
    }
    
    .fo{
        display: grid;
    }
    
    .foo{
        display: grid;
    }
    
    aside {
        display: none;
        position: fixed;
        z-index: 3;
        height: auto;
        margin-top: 0;
        
    }

    .wrapper .sidebar {
        width: 40%;
        height: 50%;
    }
    

    .ad{
        margin-top: 40px;
    }

    .bars, .close {
        display: block;
    }
   
    .bars {
       margin-left: 10px; 
    }

    .bars i {
        font-size: 30px;
    }
    .wrapper .main-content .header {
        display: none;
    }
   
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        height: 25px;
        width: 90%;
        padding: 5px;
    }
      
    form {
        padding-left: 20px;
        margin: 5px;
        line-height: 30px;
        font-size: 16px;
    }

    .wrapper{
        background: #D3D3D3;
        height: 900px;
      }
    
   /*FMANUEL*/
   
   }

  