* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    max-width: 100%;
}

.wrapper {
    display: flex;
    width: 50%;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: poppin sans-serif;
    font-size: 20px;
}

aside {
    height: auto;
    margin: 0;
}


.top .close {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 10px;
}


.wrapper .sidebar {
    position: fixed;
    text-align: center;
    width: 18%;
    height: 100%;
    background: #111F4D;
}

.at {
    position: relative;
    top: 80px;
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
}

.at:hover {
    color: #ffffff;
}

.as {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 90px;
}

.as:hover {
    color: #ffffff;
}

.an {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 100px;
}

.an:hover {
    color: #ffffff;
}

.ad {
    text-decoration: none;
    color: #D3D3D3;
    font-size: 24px;
    position: relative;
    top: 110px;
}

.ad:hover {
    color: #ffffff;
}

.wrapper .main-content .header {
    padding: 30px;
    color: #111F4D;
    font-weight: 600;
    font-size: 22px;
    position: relative;
    left: 270px;
}

.for{
    display: flex;
    flex-direction: row;
}

form {
    display: flex;
    padding-left: 180px;
    margin: 30px;
    line-height: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    height: 42px;
    width: 70%;
    border-radius: 7px;
    border: thin solid #80808075;
    font-size: 15px;
    padding: 20px;
}

.fo{
    display: flex;
    flex-direction: row;
}

.foo{
    display: flex;
    flex-direction: row;
}

.continue {
    font-size: 18px;
    background-color: #111F4D;
    border-radius: 7px;
    text-decoration: none;
    padding: 7px 35px;
    margin: 2px 5px;
}

.back {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    border: 2px solid green;
    padding: 4px 37px;
    margin: 2px 5px;
}

.img {
    display: flex;
    padding-left: 290px;
    margin: 30px;
    line-height: 30px;
}

.ready {
    display: flex;
    padding-left: 280px;
    margin: 30px;
}

.button {
    display: flex;
    padding-left: 250px;
    gap: 110px;
}

#newBack {
    font-size: 20px;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    border: 2px solid green;
    padding: 5px 37px;
    margin: 2px 5px;
}

#preview {
    font-size: 20px;
    background-color: #111F4D;
    border-radius: 7px;
    text-decoration: none;
    padding: 5px 37px;
    margin: 2px 5px;
}

#star {
    color: saddlebrown;
}


.bars, .close {
    display: none;
}

@media (max-width: 900px) {

    .container {
        display: block;
        
    }

    .for{
        display: grid;
    }
    
    .fo{
        display: grid;
    }
    
    .foo{
        display: grid;
    }
    
    aside {
        display: none;
        position: fixed;
        z-index: 3;
        height: auto;
        margin-top: 0;
        
    }

    .wrapper .sidebar {
        width: 40%;
        height: 50%;
    }
    

    .ad{
        margin-top: 40px;
    }

    .bars, .close {
        display: block;
    }

    .main-content .header{
        display: flex;
    }

   
    .bars {
       margin-left: 10px; 
    }

    .bars i {
        font-size: 30px;
    }
    .wrapper .main-content .header {
        font-size: 22px;
        position: relative;
        left: 90px;
    }
   
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        height: 36px;
        width: 90%;
        padding: 10px;
    }
      
    form {
        padding-left: 60px;
        margin: 10px;
        line-height: 30px;
    }

    .wrapper {
        box-shadow: none;
    }
    
}



@media screen and (max-width:600px) {
    
    .wrapper .main-content .header {
        font-size: 22px;
        position: relative;
        left: 70px;
    }
   
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        height: 36px;
        width: 90%;
        padding: 10px;
    }
      
    form {
        padding-left: 70px;
        margin: 10px;
        line-height: 30px;

    }

    .wrapper {
        box-shadow: none;
    }
    
}