:root {
  --footer_color: #111f4d;
}



nav button, footer, .button1, .benefits, .section1 button {
  background-color: var(--footer_color);
}

 .steps {
  border: 1px solid black;
 }

 .eachstep {
  height: 100%;
  align-content: space-around;
  padding: 5%;
  margin: auto;
 }
 .step2 {
  padding-top: 20%;
 }

 .step4 {
  padding-top: 10%;
 }


.pic4 {
  width: 250px;
}

section {
  margin-top: 5rem;
    /* margin-bottom: 5rem; */
  }

footer a {
text-decoration: none;
}

.right, .left {
width: 80%;
}

.picture {
width: 100%
}

.section1 i {
font-size: xx-large;
}

.stars {
font-size: small;
color: gold;
}

.benefits:hover, .testimonials:hover {
width: 30%;
transform: scale(1.2);
position: relative;
z-index: 1;
}

.benefits, .testimonials {
transition: transform .75s;
}