* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "inter", sans-serif;
}

.container {
  width: 80%;
  margin-inline: auto;
}

.container .img-logo {
  aspect-ratio: 1/1;
  margin-bottom: -2.8em;
}
.logo {
  display: flex;
  gap: 5rem;
  justify-content: start;
  margin-top: 1.5em;
}
.logo .fa {
  width: 100%;
}
.img-logo {
  margin-block-end: 2em;
}

aside {
  display: flex;
  gap: 2em;
  margin-top: 2.5rem;
}

aside .svg {
  width: 500px;
}

aside .svg img {
  width: 100%;
  height: 90%;
  aspect-ratio: 1;
  margin-top: 2em;
}

.form-group {
  width: 500px;
  padding: 2.5em;
  line-height: 1.5;
  padding-top: 0;
  padding-bottom: 0;
}

.form-group h2,
.form-group p {
  text-align: left;
  color: #010103;
  font-weight: 600;
}
.form-group p {
  padding-bottom: 20px;
}

.form-group button {
  width: 100%;
  padding: 1em;
}
.field-google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: transparent;
  border: 2px solid #111f4d;
  border-radius: 0.5em;
  color: #111f4d;
  padding: 0.65em;
}

.field-google span {
  font-size: 15px;
}

.word-on-line {
  position: relative;
  border-bottom: 0.1px solid #111f4d;
  margin-block: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.word-on-line span {
  position: absolute;
  top: -0.6em;
  background-color: #fff;
  color: #111f4d;
  /* margin-inline: 7rem; */
  padding-inline: 1em;
  /* width: 100%; */
  text-align: center;
  font-size: 12px;
}
.form-group {
  justify-self: flex-start;
  margin-top: -2rem;
}
form {
  display: flex;
  flex-direction: column;
}

form a {
  text-decoration: none;
  color: #111f4d;
  margin-block-start: -1.8rem;
  margin-block-end: 1.2em;
  padding-top: 10px;
  font-size: 13px;
  font-weight: 400;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field input {
  padding: 0.4em;
  margin-bottom: 1.2em;
  color: #797a7c;
}

.input-field label {
  line-height: 1.5;
  font-weight: 400;
  color: #111f4d;
  font-size: 13px;
}

form .btn1 {
  background-color: #111f4d;
  color: #fff;
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 15px;
  gap: 1.5;
  margin-top: 25px;
  padding: 0.7em;
}

.button-field a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

.button-field input {
  width: 100%;
  padding: 1em;
  border: none;
  cursor: pointer;
}

form .form-link {
  text-align: center;
  color: #808082;
  font-weight: 400;
  padding-top: 10px;
  font-size: 13px;
}

.form-link a {
  font-weight: 700;
}


.center {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.4s, top 0.4s;
  visibility: hidden;
}

.open-popup{
visibility: visible;
top: 50%;
transform: translate(-50%, -50%) scale(1);
}

.popup {
  width: 400px;
  height: 300px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  box-shadow: 12px 12px 22px grey;
}

.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #1D5418;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fa-solid .fa-check{
  font-size: 30px;
  color: #1D5418;
}

.popup .title {
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 600;
  color: #000000;
}

.popup .description {
  color: #000000;
  font-size: 15px;
  padding: 15px;
  font-weight: 400;
}

.popup .dismiss-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.popup .dismiss-btn button {
  padding: 10px 20px;
  background: #111F4D;
  color: #DEDEE2;
  border: 2px solid #111F4D;
  font-size: 12px;
  font-weight: 400;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
  color: #111F4D;
  background: transparent;
}

@media screen and (min-width: 75rem) {
.popup {
    width: 600px;
    height: 400px;
}
.popup .title {
    margin-top: 25px;

}
.popup .description {
    margin-top: 25px;
}
.popup .dismiss-btn {
    margin-top: 45px;
    margin-bottom: 30px;
} 
}


@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .svg {
    display: none;
  }
  img {
    display: none;
  }
  .form-group p {
    font-size: 12px;
    padding-bottom: 17px;
  }
  .form-group h2 {
    font-size: 18px;
    padding-top: 5px;
  }
  .form-link {
    padding-top: 10px;
  }
}
