

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 14rem auto;
}

aside {
    border-right: 1px solid black;
    height: 100%;
    margin: 0;
}

.top {
    display: flex;
}

.top .logo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.top .close {
    font-size: 25px;
    padding-right: 20px;
    padding-top: 10px;
}

.top img {
    width: 50%;
    padding-top: 10px;
}

.sidebar {
    position: fixed;
    height: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sidebar ul li {
    margin-top: -10px;
    font-size: 18px;

}

.sidebar .logout {
    margin-top: 420px;
    position: absolute;
    left: 30px;
}

.sidebar .set {
    margin-top: 30px;
    position: absolute;
    left: 25px;
}

.temp, .set, .logout{
    background-color: #F6F8FA;
    border: 1px solid #111F4D;
    border-radius: 10px;
    display: grid;
    height: 40px;
    width: 10rem;
    place-items: center;
    padding: 5px;
}

.temp {
    background-color: #111F4D;
    color: white;
    position: relative;
    left: 25px;
}

.temp a {
    color: white;
}

.set a, .logout a {
    color: #111F4D;
    
}

.main {
    height: auto;
    padding: 70px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-top: -40px;
    width: 90%;
    color:  #111F4D;
    font-weight: 600;
    font-size: 20px;
}

.account .policies{
    margin-top: -80px;
    font-weight: 500;
    font-size: 20px;
    color: #111F4D;
  }
  
  .pol{
    font-size: 15px;
    line-height: 1.5rem;
    color: #111F4D;
  }
  
  .top-container{
    margin-top: 10px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .thin{
    display: flex;
    flex-direction: column;
  }

  .plus{
      width: 24px;
      position: relative;
      left: 150px;
      top: 70px;
  }


  .und{
    position: relative;
    top: 20px;
    left: 230px;
  }
  
  .terms{
    position: relative;
    top: 120px;
    left: 80px;
    font-weight: 500;
    font-size: 15px;
    color: #111F4D;
  }
  
  .middle-container{
    margin-top: 20px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .un{
    position: relative;
    top: 10px;
    left: 300px;
  }
  
  .thi{
    display: flex;
    flex-direction: column;
  }

  .plu{
      width: 24px;
      position: absolute;
      left: 470px;
      top: 590px;
  }

  
  .privacy{
    position: relative;
    top: 150px;
    left: 100px;
    font-weight: 500;
    font-size: 15px;
    color: #111F4D;
  }
  
  

.user i {
    font-size: 30px;
}

.user span {
    font-size: 18px;
    padding-left: 7px;
}

.user {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-top: -70px;
    position: absolute;
    left: 1100px;
}

.account {
    margin-top: 70px;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

  

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: #111F4D 1px solid;
}

.footer a {
    color: #111F4D;
}

.bars, .close {
    display: none;
}


@media (max-width: 900px) {

    .container {
        display: block;
        
    }
    
    aside {
        display: none;
        position: fixed;
        z-index: 3;
        background-color: aliceblue;
        height: 100vh;
        margin-top: 0;
        
    }

    .sidebar .logout {
        margin-top: 140px;
        position: relative;
        left: 24px;
    }

    .bars, .close {
        display: block;
    }

    .main .header{
        display: flex;
    }

    .main .header .profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-top: 10px;
        
    }

    .bars {
       margin-left: 40px; 
    }

    .bars i {
        font-size: 30px;
    }

  
}



@media (max-width: 768px) {

    .header{
        font-size: 35px;
        white-space: nowrap;
    }

    .user {
      position: absolute;
      left: 500px;
    }
    
    .account .policies{
        font-weight:bolder;
        font-size: 30px;
      }

      
      
      .pol{
        
        font-size: 23px;
        white-space: pre;
        line-height:normal;
      }
    

    .terms{
        position: relative;
        top: 90px;
        left: 100px;
        font-size: 35px;
      }

      .plus{
        position: relative;
        left: 290px;
        top: 60px;
        width: 36px;
    }
  
    .plu{
      position: relative;
      left: 290px;
      top: 40px;
      width: 36px;
  }

      .und{
        width: 110%;
        height: 135%;
        position: relative;
        top: 150px;
        left: -60px;
      }
       

    .top-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 450px;
      box-shadow: none;
    }

    .middle-container{
      margin-top: 210px;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px;
        box-shadow: none;
      }
     
      
    .un{
        width: 90%;
        height: 140%;
        position: relative;
        top: 160px;
        left: 50px;
      }
      
      
      .privacy{
        position: relative;
        top: 80px;
        left: 150px;
        font-size: 35px;
      }
      
    .footer {
        margin-top: 240px;
    }
  
}

@media (max-width: 400px) {

    .header{
        font-size: 45px;
        white-space: nowrap;
    }
    
    .account .policies{
        font-weight: bolder;
        font-size: 40px;
      }
      
      .pol{
        
        font-size: 37px;
        white-space: pre;
        line-height: 2.5rem;
      }
    
      .user {
        position: absolute;
        left: 1000px;
      }
    
      
    .terms{
        position: relative;
        top: 50px;
        left: 300px;
        font-size: 35px;
        white-space: nowrap;
      }

      .und{
        width: 100%;
        height: 150%;
        position: relative;
        top: 110px;
        left: 220px;
        
      }
      
      .plus{
        position: relative;
        left: 500px;
        top: 20px;
        width: 36px;
    }

    .top-container{
        width: 120%;
        display: flex;
        flex-direction: column;
        height: 440px;
        box-shadow: none;
        
    }

    .middle-container{
        margin-top: 30px;
        width: 120%;
        display: flex;
        flex-direction: column;
        height: 440px;
        box-shadow: none;
        
      }
     
      
    .un{
        
        width: 110%;
        height: 150%;
        position: relative;
        top: 100px;
        left: 300px;
      }
      
      
      .privacy{
        position: relative;
        top: 40px;
        left: 350px;
        font-size: 35px;
        white-space: nowrap;
      }

      .plu{
        position: relative;
        left: 480px;
        top: 20px;
        width: 36px;
    }
      
    .footer {
        margin-top: 240px;
    }



   }

  
