{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'css/password_reset_form.css' %}"
      type="text/css"
    />
    <title>{% block title %}Forgot Your Password?{% endblock %}</title>
  </head>
  <body>
    <a href="{% url 'index' %}"
      ><img src="{% static 'img/logo.jpg' %}" alt="group 77 logo"
    /></a>
    <section id="transparent-box">
      <h1>Forgot your password?</h1>
      <p>
        Enter your email address below to receive an email <br />
        with password reset instruction
      </p>

      <form id="button" method="POST">
        {% csrf_token %}
        <div>
          <label for="Email">Email</label><br />
          <input
            type="email"
            id="id_email"
            class="textinput textInput form-control"
            name="email"
            autocomplete="email"
            placeholder="johndoe@gmail.com"
            maxlength="254"
            required=""
          />
          <br />
          <br />
        </div>

        <button id="req-pass" type="submit">Send me instructions!</button>
      </form>
      <br />
      <a href="{% url 'signin' %}">Back to Login</a>
    </section>
  </body>
</html>
