<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/passwordresetconfirmed'%}" />
    <title>Reset Confirmed</title>
  </head>
  <body>
    <a href="{% url 'index' %}"
      ><img src="{% static 'Group 34 (1)(1).jpg'%}" alt="group 77 logo"
    /></a>
    <section id="transparent-box">
      <h1>Password Reset Confirmed</h1>
      <p>Your password has been successfully reset.</p>
    </section>
  </body>
</html>
