{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready T & C</title>
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">

        </div>
        <div class="main-content">
            <div class="header">Terms and conditions</div>
            <div class="img">
                <a href="{% url 'index' %}"><img src="{% static 'img/Group 62.png' %}" width="200px" height="200px" alt=""></a>
            </div>
            <div class="ready">
                <h4>Your template is ready</h4>
            </div><br><br><br>
            <div>
                <div class="button">
                    <a href="{% url 'newterms' %}" id="newBack" style="color: #111F4D; text-decoration: none;">Back</a> </button>
                    <a href="{% url 'preview' %}" id="preview" style="color: white ; text-decoration: none;">Preview</a> </button>
                </div>

            </div>

        </div>
    </div>
</body>
</html>