{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link rel="stylesheet" href="{% static 'step2.css' %}">
    <link rel="stylesheet" href="{% url 'step3' %}">
    <link rel="stylesheet" href="{% url 'newterms' %}">
    <script src="https://kit.fontawesome.com/c491194143.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        <aside class="asid">
            <div class="top2">
                <div class="close2"><i class="fa-solid fa-xmark"></i></div>
            </div>
            <div class="sidebar2">
                <ul>
                    <li><a class="at" href="{% url 'newterms' %}">Step 1</a></li>
                    <li><a class="as" href="{% url 'step2' %}">Step 2</a></li>
                    <li><a class="an" href="{% url 'step3' %}">Step 3</a></li>
                </ul>
            </div>
        </aside>

        <div class="main-content">
            <div class="header2">Terms and conditions</div>
            <div class="bars2"><i class="fa-solid fa-bars"></i></div>
            <!-- Question B -->
            <form action="step2" method="POST" id="nameform" class="form">
                <div class="fo">
                    <div>
                        <label for="">Does your website send emails or newsletters?<span id="star">*</span></label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">Yes </label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">No </label>
                    </div><br><br>
                    <div>
                        <label for="">Can user upload content such as <br> images?<span id="star">*</span></label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">Yes</label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">No </label>
                    </div><br><br><br>
                    <div>
                        <a href="{% url 'newterms' %}" class="back" style="color: #111F4D;">Back</a>
                    </div>
                </div>

                <!-- Question C -->

                <div>
                    <div>
                        <label for="">Is your website offered to underage?<span id="star">*</span></label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">Yes </label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">No </label><br><br><br>
                    </div>
                    <div>
                        <label for="">Do your website show ads?<span id="star">*</span></label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">Yes </label><br>

                        <input class="input-type" type="radio" name="option1" required>
                        <span class="radiomark"></span>
                        <label for="">No </label><br><br><br><br><br>
                    </div>
                    <div>
                        <a href="{% url 'step3' %}" class="continue" style="color: white;">Continue</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="{% static 'napp.js' %}"></script>
</body>

</html>