{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}" />
    <title>Terms77 - Contact Us</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top mb-5">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"
          ><img
            src="{% static 'img/Group 34 (1).jpg'%}"
            class="p-2"
            alt="Terms77logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav" style="margin: auto">
            <a
              class="nav-link mx-2"
              aria-current="page"
              href="{% url 'aboutus' %}"
              >About us</a
            >
            {% if user.is_authenticated %}
            <a class="nav-link mx-2" href="{%url 'dashboard' %}">Templates</a>
            {% else %}
            <a class="nav-link mx-2" href="{%url 'signup'%}">Templates</a>
            {% endif %}
            <a class="nav-link mx-2" href="{% url 'contactus' %}">Contact us</a>
          </div>
          {% if user.is_authenticated %}
          <div class="dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userMenu"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome {{ user.username }}
            </a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'settings' %}"
                >Change password</a
              >

              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
            </ul>
          </div>

          {% else %}
          <form class="form-inline ml-auto">
            <div class="container">
              {% if user.is_authenticated %}
              <p><a href="{% url 'logout' %}">logout</a></p>

              {% else %}
              <a href="{% url 'signin' %}" class="btn">login</a>
              <a
                href="{% url 'signup' %}"
                class="btn text-light link-info button2"
                style="background-color: #111f4d"
                >signup</a
              >
              {% endif %}
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="">
      <section class="m-3 p-5 text-center">
        <div class="mt-5 p-5">
          <img
            src="{% static 'img/Group 61.jpg' %}"
            class=""
            alt="contactimg"
          />
        </div>
      </section>
      <hr />
      <div class="container">
        <div class="row justify-content-between">
          <div class="col m-3 me-4">
            <h6 class="fw-bold mb-3">SEND US AN EMAIL:</h6>
            <p class="mb-3">ENQUIRE FROM US, WE'LL GET BACK TO YOU IN 24HRS!</p>
            <form>
              <div class="form-group mb-3">
                <label for="name"> <strong> NAME:</strong></label
                ><br />
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="John Doe"
                  style="width: 95%"
                /><br />
              </div>
              <div class="form-group mb-3">
                <label for="email"><strong>EMAIL:</strong> </label><br />
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="johndoe@email.com"
                  style="width: 95%"
                /><br />
              </div>
              <div class="form-group">
                <label for="howcan" class="mb-3"
                  ><strong>HOW CAN WE HELP YOU?</strong> </label
                ><br />
                <textarea
                  name="howcan"
                  id="howcan"
                  cols="30"
                  rows="6"
                  style="width: 95%"
                  class="mb-2"
                ></textarea
                ><br />
              </div>
              <button
                type="submit"
                class="btn btn-primary mb-5"
                style="background-color: #111f4d; width: 65%"
                ;
              >
                SEND
              </button>
            </form>
          </div>
          <div class="col">
            <div
              class="givefeedback border border-dark border-3 border-opacity-50 p-3"
            >
              <h5 class="fw-bold">Give a feedback</h5>
              <p>
                We would love to hear your experience while using our website,
                to improve our services
              </p>
              <div class="text-center">
                <textarea
                  name="feedback"
                  id="feedback"
                  cols="45"
                  rows="5"
                ></textarea
                ><br /><br />
                <button
                  class="btn btn-primary mb-4"
                  style="background-color: #111f4d; width: 40%"
                >
                  SEND
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer
      class="container-fluid mt-3"
      style="background-color: #111f4d; color: white"
    >
      <div class="container">
        <div class="row py-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h5 class="fw-bold">Terms77</h5>
            <p class="text-white">
              We are a full-service law firm that specializes in creating
              customized Privacy Policies and Terms & Conditions faster to keep
              your business safe from any legal issue.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="text-white lh-sm">
              <h6 class="fw-bold">Company</h6>
              <p>
                <a
                  href="{% url 'aboutus' %}"
                  class="text-white"
                  style="text-decoration: none"
                >
                  About us</a
                >
              </p>
              <p>
                <a
                  href="{% url 'termsofuse' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Our Terms of use</a
                >
              </p>
              <p>
                <a
                  href="{% url 'ourprivacypolicy' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Our Privacy policies</a
                >
              </p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="text-white lh-sm">
              <h6 class="fw-bold">Resources</h6>
              {% if user.is_authenticated %}
              <p>
                <a
                  href="{% url 'newterms' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Terms and conditions</a
                >
              </p>
              <p>
                <a
                  href="{% url 'privacypolicynt' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Privacy policies</a
                >
              </p>
              {% else %}
              <p>
                <a
                  href="{% url 'signup' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Terms and conditions</a
                >
              </p>
              <p>
                <a
                  href="{% url 'signup' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Privacy policies</a
                >
              </p>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="text-white lh-sm">
              <h6 class="fw-bold">Help</h6>
              <p>
                <a
                  href="{% url 'contactus' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >Contact us</a
                >
              </p>
              <p>
                <a
                  href="{% url 'faq' %}"
                  class="text-white"
                  style="text-decoration: none"
                  >FAQs</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12" style="border-top: 1px #959bb0 solid; width: 100%">
          <p class="py-2 text-white">All right reserved 2022</p>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
