<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forgotpass.css">
    <title>Reset password</title>
</head>
<body>
        <img src="../img/Group 34 (1)(1).jpg" alt="group 77 logo">
<section id="transparent-box">

        <h1>Forgot your password?</h1>
        <p>Enter your email address below to receive an email <br> with password reset instruction</p>
        <label for="Email">Email</label><br>
        <input type="text" id="email" name="email" placeholder="johndoe@gmail.com">
        <br>
        <br>
    <form id="button" action="submit">
        <button id="req-pass">Request password reset</button>
    </form>
        <br>
        <a href="signin.html">Back to Login</a>

</section>
</body>
</html>