{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms77 Privacy policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'tp.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white mb-5">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a href="{% url 'index' %}"><img src="{% static 'img/terms77.jpg' %}" alt="" class="pt-2"></a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5" style="margin: auto;">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'aboutus' %}">About us</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'signup' %}">Templates</a>
              {% else %}
              <a class="nav-link" href="{% url 'signup' %}">Templates</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contactus' %}">Contact us</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Welcome {{ user.username }}
              </a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'settings' %}">Change password</a>

                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </ul>
            </div>

            {% else %}
            <form class="form-inline ml-auto">
              <div class="container">
                {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">logout</a></p>

                {% else %}
                <a href="{% url 'signin' %}" class="btn">login</a>
                <a href="{% url 'signup' %}" class="btn text-light link-info button2"
                  style="background-color: #111f4d;">signup</a>
                {% endif %}
              </div>

            </form>
            {% endif %}
        </div>
      </div>
    </nav>

    <section class="container my-5 px-3">
      <h2 class="text-center"><b>Terms77 Privacy Notice </b> </h2>
      <p>Last updated  June 2022</p>
      <p>When you visit <a href="#">our website</a> (the “Website“), and more generally, use any of our 
        services (the “Services“, which include the Website), we appreciate that you are trusting us with your 
        personal information. We take your privacy very seriously. In this privacy notice, we seek to explain 
        to you in the clearest way possible what information we collect, how we use it and what rights you have 
        in relation to it. We hope you take some time to read through it carefully, as it is important. If there 
        are any terms in this privacy notice that you do not agree with, please discontinue use of our Services 
        immediately.
      </p>
      <p>Thank you for choosing to be part of our community at Termly Inc., doing business as Termly 
        (“Termly“, “we“, “us“, “our“). We are committed to protecting your personal information and your 
        right to privacy. If you have any questions or concerns about this privacy notice, or our practices 
        with regards to your personal information, please contact us at support@terms77.com
      </p>
      <p>This privacy notice applies to all information collected through our Services (which, as described 
        above, includes our Website), as well as, any related services, sales, marketing or events.
      </p>
      <p><b>Please read this privacy notice carefully as it will help you understand what we do with the 
        information that we collect.</b>
      </p>
    </section>


    <!-- Quick questions / Answers -->
    <main class="container">
      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" 
      aria-controls="multiCollapseExample1" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image"> 1. OUR WEBSITE AND SERVICES?</h3>
      <div style="background-color: #FBEFEF;">
        <p  class="collapse multi-collapse px-5" id="multiCollapseExample1">
          We are not lawyers nor a law firm, but we help you with compliance in relation to your privacy and 
          contractual obligations. We provide you a software (the “Software”), that you access remotely via 
          the cloud, that you can use for (a) consent management (“Consent Platform”); and (b) the generation 
          of policies, legal agreements, disclaimers, and other documents generated by the Services using 
          information related to your business or organization that you enter into the Software (collectively “Forms”).
        </p>
        <p class="collapse multi-collapse px-5" id="multiCollapseExample1">
          The information, Consent Platform, and Forms provided when using the Services are not intended for 
          distribution to or use by any person or entity in any jurisdiction or country where such distribution 
          or use would be contrary to law or regulation or which would subject us to any registration requirement 
          within such jurisdiction or country. Accordingly, those persons who choose to access the Services from 
          other locations do so on their own initiative and are solely responsible for compliance with local laws, 
          if and to the extent local laws are applicable.
        </p>
        <p class="collapse multi-collapse px-5" id="multiCollapseExample1">
          The Services are not tailored to comply with industry-specific regulations (including Health Insurance 
          Portability and Accountability Act (HIPAA), Federal Information Security Management Act (FISMA), etc.), 
          so if your interactions would be subjected to such laws, you may not use these Services. You may not use 
          the Services in a way that would violate the Gramm-Leach-Bliley Act (GLBA).
          </p>
      </div>

      
      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" 
      aria-controls="multiCollapseExample2" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
      2. INTELLECTUAL PROPERTY RIGHTS
      </h3>
      <div style="background-color: #FBEFEF;">
        <p class="collapse multi-collapse px-5" id="multiCollapseExample2">
          Unless otherwise indicated, we retain all right, title, and interest in and to the Software and the 
          Website, including without limitation all graphics, user interfaces, databases, functionality, software, 
          website designs, audio, video, text, photographs, graphics, logos, and trademarks or service marks reproduced 
          through the System. These Terms of Use do not grant you any intellectual property license or rights in or to 
          the Software and the Website or any of its components, except to the limited extent that these Terms of Use 
          specifically sets forth your license rights to it. You recognize that the Software and the Website and their 
          components are protected by copyright and other laws.
        </p>
        <p class="collapse multi-collapse px-5" id="multiCollapseExample2">
          Conditioned upon your compliance with these Terms of Use and, if applicable, your payment of the Subscription 
          Fees, we grant you the rights to reproduce, modify, and publicly display the Forms and use the Consent 
          Platform (all together “Content”) on your website or mobile application.</p>
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" 
      aria-controls="multiCollapseExample3" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
      3. USER REPRESENTATIONS</h3>
      <div style="background-color: #FBEFEF;"> 
        <p class="collapse multi-collapse px-5" id="multiCollapseExample3">
          By using the Services, you represent and warrant that: (1) all registration information you submit will be 
          true, accurate, current, and complete; (2) you will maintain the accuracy of such information and promptly 
          update such registration information as necessary; (3) you have the legal capacity and you agree to comply 
          with these Terms of Use; (4) you are not a minor in the jurisdiction in which you reside; (5) you will not 
          access the Services through automated or non-human means, whether through a bot, script or otherwise; (6) 
          you will not use the Services for any illegal or unauthorized purpose; and (7) your use of the Services will 
          not violate any applicable law or regulation.
          </p>
        <p class="collapse multi-collapse px-5" id="multiCollapseExample3">
          If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right 
          to suspend or terminate your account and refuse any and all current or future use of the Services 
          (or any portion thereof).
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" 
      aria-controls="multiCollapseExample4" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
      4. USER REGISTRATION</h3>
      <div style="background-color: #FBEFEF;">
        <!-- <img src="./images/minus.jpg" alt="Minus image">  -->
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample4">
          <!-- <img src="./images/minus.jpg" alt="Minus image">  -->
          You may be required to register with the Services. You agree to keep your password confidential and 
          will be responsible for all use of your account and password. We reserve the right to remove, reclaim, 
          or change a username you select if we determine, in our sole discretion, that such username is 
          inappropriate, obscene, or otherwise objectionable.
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" 
      aria-controls="multiCollapseExample5" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
      5. FEES AND PAYMENT</h3>
      <div style="background-color: #FBEFEF;" > 
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample5">
          Terms77 offers free and paid account options. You can create a free account (“Free Account”) without 
          providing any credit card information, but your access to our Website's features will be limited. 
          Depending on your needs, you may want to access more or all of Termly's Services by creating or 
          upgrading to a paid account (“Paid Account”). You can create or upgrade to a Paid Account by signing 
          up for one of Termly's subscription plans (“Subscription Plans” and each a “Subscription”).
        </p>
      </div>
    </main>

    
    <!-- Footer -->
    <footer class="container-fluid mt-3" style="background-color: #111F4D; color:white">
      <div class="container">
        <div class="row py-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h5>Terms77</h5>
            <p class="fw-lighter">We are a full-service law firm that specializes in creating customized Privacy Policies and 
              Terms & Conditions faster to keep your business safe from any legal issue.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Company</h6>
              <p><a href="{% url 'aboutus' %}" style="text-decoration: none;"> About us</a></p>
              <p><a href="{% url 'termsofuse' %}" style="text-decoration: none;">Our Terms of use</a></p>
              <p><a href="{% url 'ourprivacypolicy' %}" style="text-decoration: none;">Our Privacy policies</a></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Resources</h6>
              {% if user.is_authenticated %}
              <p><a href="{% url 'newterms' %}" style="text-decoration: none;">Terms and conditions</a></p>
              <p><a href="{% url 'privacypolicynt' %}" style="text-decoration: none;">Privacy policies</a></p>
              {% else %}
              <p><a href="{% url 'signup' %}" style="text-decoration: none;">Terms and conditions</a></p>
              <p><a href="{% url 'signup' %}" style="text-decoration: none;">Privacy policies</a></p>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Help</h6>
              <p><a href="{%% url 'contactus' %}" style="text-decoration: none;">Contact us</a></p>
              <p><a href="{%% url 'faq' %}" style="text-decoration: none;">FAQs</a></p>
            </div>
          </div>
        </div> 
      </div>
      <div class="row text-center">
        <div class="col-12" style="border-top: 1px #959BB0 solid; width: 100%;">
          <p class="py-2">All right reserved 2022</p>
        </div>
      </div>
    
    </footer>
    
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>