{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'password_reset_confirm.css' %}" type="text/css">
    <title>Confirm New Password</title>
</head>
<body>
    <a href="{% url 'index' %}"><img src="{% static 'img/logo.jpg' %}" alt="group 77 logo"></a>
<section id="transparent-box">

    <h1>
        Password Reset Confirm
    </h1>

    <p>
        Please Enter Your New Password.
    </p>
    <form method="POST">
        {% csrf_token %}
        <div id="div_id_new_password1" class="form-group">
            <label class="requiredField" for="id_new_password1">

                <span class="asteriskField"></span>
            </label>

            <div>
                <input type="password" id="id_new_password1" class="textinput textInput form-control" placeholder="New Password" name="new_password1" autocomplete="new-password" required="" >
                <small id="hint_id_new_password1" class="form-text text-muted" >
                    <ul>
                        <li>
                            Your password can’t be too similar to your other personal information.
                        </li>

                        <li>
                            Your password must contain at least 8 characters.
                        </li>

                        <li>
                            Your password can’t be a commonly used password.
                        </li>

                        <li>
                            Your password can’t be entirely numeric.
                        </li>
                    </ul>
                </small>
            </div>

        </div>

        <div id="div_id_new_password2" class="form-group"></div>
            <label class="requiredField" for="id_new_password2">

                <span class="asteriskField"></span>
            </label>
            <div>
                <input type="password" id="id_new_password2" placeholder="Confirm New Password" class="textinput textInput form-control" name="new_password2" autocomplete="new-password" required="" >
                <small id="hint_id_new_password2" class="form-text text-muted">
            </div>
        </div> <br>
        <button type="submit" >Reset Password</button>        
    </form>
    <br>
    <br>
    <a href="{% url 'signin' %}">Back to Login</a>
</section> 