{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
      <script src="{% static 'preview.js' %}"></script>
  <link rel="stylesheet" href="{% static 'preview.css' %}" />
  <title>Preview pages</title>
</head>
<!-- body -->

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light notranslate">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img src="{% static 'img/terms77.jpg' %}" alt="" class="pt-2" />
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5" style="margin: auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'dashboard' %}">Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
        </ul>
        <form class="d-flex"> <a href="{% url 'dashboard' %}">
            <button class="btn me-2" type="button" style="background: red; color: white">
              Cancel
            </button></a>
        </form>
      </div>
    </div>
  </nav>
  <!-- terms & conditions -->
  <p class="text-center notranslate">
    {% comment %} Powered by <img src="{% static 'img/terms77.jpg' %}" alt="Terms of Service" /> {% endcomment %}
  </p>
  <div class="container py-5 notranslate">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 text-center justify-content-lg-center align-items-lg-center align-items-md-center justify-content-md-center justify-content-sm-center align-items-sm-center">
        <h1>TERMS & CONDITIONS</h1>
      </div>
      <div class="col">
          
        <div class="row">
         
            <a class="col" aria-current="page" href="#"><img src="{% static 'img/listen.png' %}" alt="Audio"/></a>
            <a class="col position-relative trans" aria-current="page" href="#"><img src="{% static 'img/translate.png' %}" alt="Translate"/>
              <div class="position-absolute pt-3 lang">
                <p id="google_translate_element"></p> 
              </div>
            </a>
         
            <a onclick="generatePDF()" class="col" href="#"><img src="{% static 'img/download.png' %}" alt="Download"/></a>
          
          <div class="col dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'img/share.png' %}" alt="Share"/>
            <div class="dropdown-menu">
              <ul>              
              <li class="dropdown-item social-share-url twitter"><i class="bi bi-envelope-fill"></i>Twitter</li>
              <hr class="dropdown-divider">
              <li class="dropdown-item social-share-url whatsapp"><i class="bi bi-whatsapp"></i>Whatsapp</li>
              <hr class="dropdown-divider">
              <li class="dropdown-item social-share-url linkedin"><i class="bi bi-linkedin"></i>LinkedIn</li>
              <hr class="dropdown-divider">
              <li class="dropdown-item social-share-url facebook"><i class="bi bi-facebook"></i>Facebook</li>
              
              </ul>
              </a>
            </div>
            </div>
        </div>
      </div>
      </div>
    </div>
      
  <!-- End terms & conditions -->
  <!-- message -->
  <div class="container translate">
    {% for companies in data %}
    <p>
    <h1>Introduction</h1>
    {{companies.company_name}} is the trading name for the company.
    We operate an/a {{companies.business_platform}} platform consisting of a website
    and mobile application together with supporting payment infrastructure
    for the purchase of {{companies.product_service}} products and/or services.
    </p>

    <p>
      These general terms and conditions shall apply to users of the platform
      (website and mobile application) and shall govern your use of the
      platform and related services.
    </p>

    <p>
      By using our platform you accept these general terms and conditions in
      full. If you disagree with these general terms and conditions or any
      part of these general terms and conditions you must not use our
      platform.
    </p>

    <p>
      If you use our platform in the course of a business or other
      organizational project then by so doing you:
    </p>

    <ul>
      <li>Confirm that you have obtained the necessary authority to agree to these general terms and conditions</li>
      <li>Bind both yourself and the person company or other legal entity that operates that business or organizational
        project to these general terms and conditions; and
      </li>
      <li>Agree that you in these general terms and conditions shall reference both the individual user and the relevant
        person company or legal entity unless the context requires otherwise.
      </li>
    </ul>
    <p>
    <h1>Registration and account</h1>
    You may not register with our platform if you are under 18 years of age
    (by using our platform or agreeing to these general terms and conditions
    you warrant and represent to us that you are at least 18 years of age).
    </p>


    If you register for an account with our platform you will be asked to provide an email address/user ID and password
    and you agree to:
    <h3></h3>
    <ul>
      <li>Keep your password confidential;
      </li>
      <li>Notify us in writing immediately (using our contact details provided at {{companies.company_name}} if you
        become aware of any disclosure of your password; and
      </li>
      <li>Be responsible for any activity on our platform arising out of any failure to keep your password confidential
        and that you may be held liable for any losses arising out of such a failure.
      </li>
      <li>Your account shall be used exclusively by you and you shall not transfer your account to any third party. If
        you authorize any third party to manage your account on your behalf this shall be at your own risk.
      </li>
      <li>We may suspend or cancel your account details at any time in our sole discretion and without notice or
        explanation providing that if we cancel any products or services you have paid for but not received and you have
        not breached these general terms and conditions we will refund you in respect of the same.
      </li>
      <li>You may cancel your account on our platform by contacting us.
      </li>
    </ul>


    <p>
    <h1>Service Limitations and Modifications</h1>
    We use reasonable care and skill to keep the Platform’s Service
    operational and to provide you with a personalized, immersive
    experience. However, our service offerings and their availability may
    change from time to time and subject to applicable laws, without
    liability to you; for example:
    </p>

    <ul>
      <li> {{companies.company_name}} service may experience temporary interruptions due to technical difficulties,
        maintenance or testing, or updates, including those required to reflect changes in relevant laws and regulatory
        requirements.
      </li>
      <li>We aim to evolve and improve our services constantly, and we may modify, suspend, or stop (permanently or
        temporarily) providing all or part of the {{companies.company_name}} service (including particular functions,
        features, subscription plans and promotional offerings).
      </li>
      <li>The platform has no obligation to provide any specific content through the {{companies.company_name}} Service,
      </li>
      <li>If you have already paid for a subscription that got discontinued by our discretion, we will refund the fees
        that were paid for the service that was discontinued by us. Your account and billing information must be up to
        date in order for us to refund you.
      </li>
      <li>We have no liability to you, nor any obligation to provide a refund to you, in connection with internet or
        other service outages or failures that are caused by the actions of government authorities, other third parties
        or events beyond our control.
      </li>
    </ul>

    <h1>
      Use of website and mobile applications
    </h1>
    <p>You may:</p>
    <ol>
      <li>View pages from our website in a we browser</li>
      <li>Download pages from our website for caching in a web browser</li>
      <li>Print pages from our website for your own personal and non-commercial use providing that such printing is not
        systematic or excessive; and</li>
      <li>Use our platform services by means of a web browser subject to the other provisions of these general terms and
        conditions.</li>
    </ol>


    <p>
      Except as expressly permitted by these general terms and conditions you
      must not edit or otherwise modify any material on our website.
    </p>

    <p>
      Unless you own or control the relevant rights in the material you must
      not:
    </p>

    <ol>
      <li>Republish material fom our website (including republication on another website)</li>
      <li>Sell, rent or sub-license material from our website;
      </li>
      <li>Show any material from our website in public;
      </li>
      <li>Exploit material from our website for a commercial purpose; or
      </li>
      <li>Redistribute material from our website.
      </li>
    </ol>

    <p>
      Notwithstanding you may forward links to products and/or services on our
      website and redistribute our newsletter and promotional materials in
      print and electronic form to any person.
    </p>

    <p>
      We reserve the right to suspend or restrict access to our website to
      areas of our website and/or to functionality upon our website. We may
      for example suspend access to the website during server maintenance or
      when we update the website. You must not circumvent or bypass or attempt
      to circumvent or bypass any access restriction measures on the website.
    </p>
    <iframe src="{%static 'pdf/file (21).pdf' %}" style="width: 85%; height: 975px;" frameborder="0"></iframe>
    {% endfor %}
  </div>
  <!-- End Message -->
  <!-- Footer -->
  <footer class="container-fluid notranslate"  style="background-color: #111f4d; color: white">
    <div class="container">
      <div class="row py-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h5>Terms77</h5>
          <p class="fw-lighter">
            We are a full-service law firm that specializes in creating
            customized Privacy Policies and Terms & Conditions faster to keep
            your business safe from any legal issue.
          </p>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="fw-lighter lh-sm">
            <h6>Company</h6>
            <p><a href="{% url 'aboutus' %}">About us</a></p>
            <p><a href="{% url 'termsofuse' %}">Our Terms of use</a></p>
            <p><a href="{% url 'ourprivacypolicy' %}">Our Privacy policies</a></p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="fw-lighter lh-sm">
            <h6>Resources</h6>
            <p><a href="{% url 'termsofuse' %}">Terms and conditions</a></p>
            <p><a href="{% url 'ourprivacypolicy' %}">Privacy policies</a></p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
          <div class="fw-lighter lh-sm">
            <h6>Help</h6>
            <p><a href="{% url 'contactus'%}">Contact us</a></p>
            <p><a href="{% url 'faq' %}" class="">FAQs</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12" style="border-top: 1px #959bb0 solid; width: 100%">
        <p class="py-2">All right reserved 2022</p>
      </div>
    </div>
  </footer>
  <!-- End footer -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

    <script type="text/javascript" 
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="{% static 'index.js' %}"></script>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>