<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'edit.css'%}">
    <script src="https://kit.fontawesome.com/c491194143.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo"><img src="{% statics 'img/TERMS77-LOGO 3.png'%}" alt=""></div>
                    <div class="close"><i class="fa-solid fa-xmark"></i></div> 
                </div>
                <div class="sidebar">
                    <ul>
                        <li class="temp"><h4><a href=" {% url'dashboard'%}">Templates</a></h4></li>
                        <li class="set"><h4><a href=" {% url'settings'%}">Settings</a></h4></li>
                        <li class="logout"><h4><a href="{%url 'index'%}">Logout</a></h4></li>
                    </ul>
                </div>
            </aside>
            <div class="main">
                <div class="profile">
                    <div class="bars"><i class="fa-solid fa-bars"></i></div>
                    <div class="user"> <a href="{% url 'settings'%}">
                        <div><i class="fa-regular fa-circle-user"></i></div>
                        <div><span>thebest</span></div></a>
                    </div>
                </div>
                <div class="account">
                    <div class="edit">
                        <div class="sett">
                            <h3>Account Settings (Edit)</h3>
                        </div>
                        <div class="success">
                            <h5>Profile successfully updated</h5>
                        </div>
                    </div>
                    <div class="details">
                       <div class="nam">
                            <h4>Full Name</h4>
                            <div class="name">
                                <div class="current">
                                    <label for="fullName">Current full name</label>
                                    <br>
                                    <input type="text" name="fullName" id="fullName" disabled readonly placeholder="Chris Gift"> 
                                </div>
                                <div class="inp">
                                    <label for="fullName">New full name</label>
                                    <br>
                                    <input type="text" name="fullName" id="fullName">
                                </div>
                            </div>
                       </div>
                       <div class="nam">
                            <h4>Username</h4>
                            <div class="name">
                                <div class="current">
                                    <label for="username">Current Username</label>
                                    <br>
                                    <input type="text" name="username" id="username" disabled readonly placeholder="Chrisgift">
                                </div>
                                <div class="inp">
                                    <label for="username">New Username</label>
                                    <br>
                                    <input type="text" name="username" id="username">
                                </div>
                            </div>
                       </div>
                       <div class="nam">
                            <h4>Email Address</h4>
                            <div class="name">
                                <div class="current">
                                    <label for="email">Current email-address</label>
                                    <br>
                                    <input type="text" name="email" id="email" disabled readonly placeholder="chris@gmail.com">
                                </div>
                                <div class="inp">
                                    <label for="email">New email-address</label>
                                    <br>
                                    <input type="text" name="email" id="email">
                                </div>
                            </div>
                       </div>
                       <div class="nam">
                            <h4>Password</h4>
                            <div class="name">
                                <div class="current">
                                    <label for="password">Current Password</label>
                                    <br>
                                    <input type="password" name="password" id="password" disabled readonly placeholder="***********">
                                </div>
                                <div class="inp">
                                    <label for="password">New Password</label>
                                    <br>
                                    <input type="password" name=password" id="password">
                                </div>
                            </div>
                       </div>
                       <div class="save">
                            <input type="submit" value="Save">
                       </div>
                    </div>
                </div>
                <footer>
                    <div class="footer">
                        <div><a href="{% url 'ourprivacypolicy'%}">Privacy Policy</a></div>
                        <div><a href="'{% url 'termsofuse'%}">Terms of Use</a></div>
                        <div><a href="#">Disclaimer</a></div>
                    </div>
                </footer>
            </div>
        </div>
    </section>

    <script src="app.js"></script>
</body>
</html>