{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Term77 Privacy policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'tp.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a href="{% url 'index' %}"><img src="{% static 'img/terms77.jpg' %}" alt="" class="pt-2"></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-5" style="margin: auto;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'aboutus' %}">About us</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'dashboard' %}">Templates</a>
            {% else %}
            <a class="nav-link" href="{% url 'signup' %}">Templates</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactus' %}">Contact us</a>
          </li>
        </ul>
        {% if user.is_authenticated %}
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Welcome {{ user.username }}
              </a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'settings' %}">Change password</a>

                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </ul>
            </div>

            {% else %}
            <form class="form-inline ml-auto">
              <div class="container">
                {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">logout</a></p>

                {% else %}
                <a href="{% url 'signin' %}" class="btn">login</a>
                <a href="{% url 'signup' %}" class="btn text-light link-info button2"
                  style="background-color: #111f4d;">signup</a>
                {% endif %}
              </div>

            </form>
            {% endif %}
      </div>
    </div>
  </nav>

    <section class="container my-5 ">
      <h2 class="text-center"><b>Terms77 Terms of Use</b> </h2>
      <p>Last updated  June 2022</p>
      <p>General Terms
        By accessing and placing an order with Terms 77, you confirm that you are in agreement with and bound by
         the terms of service outlined below. These terms apply to the entire website and any email or other type 
         of communication between you and Terms 77.
        Under no circumstances shall Terms 77 team be liable for any direct, indirect, special, incidental or 
        consequential damages, including, but not limited to, loss of data or profit, arising out of the use, 
        or the inability to use, the materials on this site, even if Terms 77 team or an authorized representative 
        has been advised of the possibility of such damages. If your use of materials from this site results in the 
        need for servicing, repair or correction of equipment or data, you assume any costs thereof.
        Terms 77 will not be responsible for any outcome that may occur during the course of usage of our resources. 
        We reserve the rights to change prices and revise the resources usage policy in any moment.
      </p>
    </section>


    <!-- Quick questions / Answers -->
    <main class="container">
      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" 
      aria-controls="multiCollapseExample1" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image"> License
    </h3>
      <div style="background-color: #FBEFEF;">
        <p  class="collapse multi-collapse px-5 pt-5" id="multiCollapseExample1">
          Terms 77 grants you a revocable, non-exclusive, non-transferable, limited license to download, install 
          and use the website strictly in accordance with the terms of this Agreement.
        </p>

        <ul class="collapse multi-collapse px-5 pb-5" id="multiCollapseExample1">
          <li style="list-style: none;">Definitions and key terms: To help explain things as clearly as possible in this Terms of Service, every time any of these 
            terms are referenced, are strictly defined as
          </li>
          <li>Cookie: small amount of data generated by a website and saved by your web browser. It is used to 
            identify your browser, provide analytics, and remember information about you such as your language 
            preference or login information.
          </li>
          <li>Company: when this terms mention “Company,” “we,” “us,” or “our,” it refers to Terms 77 that is 
            responsible for your information under this Terms of Service.
          </li>
          <li>Device: any internet connected device such as a phone, tablet, computer or any other device that can 
            be used to visit Terms 77 and use the services.
          </li>
          <li>Service: refers to the service provided by Terms 77 as described in the relative terms (if available) 
            and on this platform.
          </li>
          <li>Third-party service: refers to advertisers, contest sponsors, promotional and marketing partners, 
            and others who provide our content or whose products or services we think may interest you.
          </li>
          <li>Website: Terms 77's site, which can be accessed via this URL: https://Terms 77.io </li>
          <li>You: a person or entity that is registered with Terms 77 to use the Services.</li>
          <li style="list-style: none;">Restrictions:</li>
            You agree not to, and you will not permit others to:
          <li>License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise 
            commercially exploit the website or make the platform available to any third party.</li>
          <li>Modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any 
            part of the website.</li>
          <li>Remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) 
              of Terms 77 or its affiliates, partners, suppliers or the licensors of the website.
          </li>
        </ul>
      </div>

      
      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" 
      aria-controls="multiCollapseExample2" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
       Return and Refund Policy
      </h3>
      <div style="background-color: #FBEFEF;">
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample2">
            If, for any reason, you are not completely satisfied with any good or service that we provide, 
            don't hesitate to contact us and we will discuss any of the issues you are going through with our product.
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" 
      aria-controls="multiCollapseExample3" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
       Your Consent</h3>
      <div style="background-color: #FBEFEF;"> 
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample3">
          By using our site, registering an account, or making a purchase, you consent to this Terms of Service.
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" 
      aria-controls="multiCollapseExample4" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
       Links to Other Websites</h3>
      <div style="background-color: #FBEFEF;">
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample4">
          This Terms of Service applies only to the Services. The Services may contain links to other websites 
          not operated or controlled by Terms 77. We are not responsible for the content, accuracy or opinions 
          expressed in such websites, and such websites are not investigated, monitored or checked for accuracy 
          or completeness by us. Please remember that when you use a link to go from the Services to another 
          website, our Terms of Service are no longer in effect. Your browsing and interaction on any other 
          website, including those that have a link on our platform, is subject to that website’s own rules 
          and policies. Such third parties may use their own cookies or other methods to collect information 
          about you.
        </p>
      </div>

      <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" 
      aria-controls="multiCollapseExample5" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
       Cookies</h3>
      <div style="background-color: #FBEFEF;" > 
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample5">
          Terms 77 uses "Cookies" to identify the areas of our website that you have visited. A Cookie is a 
          small piece of data stored on your computer or mobile device by your web browser. We use Cookies to 
          personalize the Content that you see on our website. Most web browsers can be set to disable the use 
          of Cookies. However, if you disable Cookies, you may not be able to access functionality on our website 
          correctly or at all. We never place Personally Identifiable Information in Cookies. By using our site, 
          registering an account, or making a purchase, you consent to the fact that we use cookies.
        </p>
      </div>

        <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" 
        aria-controls="multiCollapseExample5" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
         Changes To Our Terms of Service</h3>
        <div style="background-color: #FBEFEF;" > 
          <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample5">
            You acknowledge and agree that Terms 77 may stop (permanently or temporarily) providing the Service 
            (or any features within the Service) to you or to users generally at Terms 77's sole discretion, 
            without prior notice to you. You may stop using the Service at any time. You do not need to specifically 
            inform Terms 77 when you stop using the Service. You acknowledge and agree that if Terms 77 disables 
            access to your account, you may be prevented from accessing the Service, your account details or any 
            files or other materials which is contained in your account.
            If we decide to change our Terms of Service, we will post those changes on this page, and/or update 
            the Terms of Service modification date below.
          </p>
        </div>

        <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" 
        aria-controls="multiCollapseExample6" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
         Updates to Our website</h3>
        <div style="background-color: #FBEFEF;" > 
          <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample6">
            Terms 77 may from time to time provide enhancements or improvements to the features/ functionality of 
            the website, which may include patches, bug fixes, updates, upgrades and other modifications ("Updates").
            Updates may modify or delete certain features and/or functionalities of the website. You agree that Terms 
            77 has no obligation to (i) provide any Updates, or (ii) continue to provide or enable any particular 
            features and/or functionalities of the website to you.
            You further agree that all Updates will be 
            i.	deemed to constitute an integral part of the website, and 
            ii.	subject to the terms of service of this Agreement.

          </p>
        </div>

        <h3 data-bs-toggle="collapse" data-bs-target="#multiCollapseExample7" aria-expanded="false" 
      aria-controls="multiCollapseExample7" style="cursor: pointer;"><img src="{% static 'img/add.jpg' %}" alt="Add image">
       Third-Party Services</h3>
      <div style="background-color: #FBEFEF;">
        <p class="collapse multi-collapse px-5 py-5" id="multiCollapseExample7">
          We may display, include or make available third-party content (including data, information, applications 
          and other products services) or provide links to third-party websites or services ("Third- Party Services").
          You acknowledge and agree that Terms 77 shall not be responsible for any Third-Party Services, including 
          their accuracy, completeness, timeliness, validity, copyright compliance, legality, decency, quality or 
          any other aspect thereof. Terms 77 does not assume and shall not have any liability or responsibility to 
          you or any other person or entity for any Third-Party Services.
          Third-Party Services and links thereto are provided solely as a convenience to you and you access and use 
          them entirely at your own risk and subject to such third parties' terms of service.
        </p>
      </div>
        
      </div>
    </main>

    
    <!-- Footer -->
    <footer class="container-fluid mt-3" style="background-color: #111F4D; color:white">
      <div class="container">
        <div class="row py-5">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h5>Terms77</h5>
            <p class="fw-lighter">We are a full-service law firm that specializes in creating customized Privacy Policies and 
              Terms & Conditions faster to keep your business safe from any legal issue.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Company</h6>
              <p><a href="{% url 'aboutus' %}" style="text-decoration: none;"> About us</a></p>
              <p><a href="{% url 'termsofuse' %}" style="text-decoration: none;">Our Terms of use</a></p>
              <p><a href="{% url 'ourprivacypolicy' %}" style="text-decoration: none;">Our Privacy policies</a></p>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Resources</h6>
              {% if user.is_authenticated %}
              <p><a href="{% url 'newterms' %}" style="text-decoration: none;">Terms and conditions</a></p>
              <p><a href="{% url 'privacypolicynt' %}" style="text-decoration: none;">Privacy policies</a></p>
              {% else %}
              <p><a href="{% url 'signup' %}" style="text-decoration: none;">Terms and conditions</a></p>
              <p><a href="{% url 'signup' %}" style="text-decoration: none;">Privacy policies</a></p>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="fw-lighter lh-sm">
              <h6>Help</h6>
              <p><a href="{% url 'contactus' %}" style="text-decoration: none;">Contact us</a></p>
              <p><a href="{% url 'faq' %}" style="text-decoration: none;">FAQs</a></p>
            </div>
          </div>
        </div> 
      </div>
      <div class="row text-center">
        <div class="col-12" style="border-top: 1px #959BB0 solid; width: 100%;">
          <p class="py-2">All right reserved 2022</p>
        </div>
      </div>
    
    </footer>
    
    


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>